# AWS access key details for a user with only permission
# to update records in this hosted zone (ChangeResourceRecordSets)
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=

# The full name of the record to point at your own network
RECORD_NAME=your-domain.name.com.

# The hosted zone ID
HOSTED_ZONE_ID=

# How often (in seconds) to update
UPDATE_INTERVAL=1800